* {
    background-color: #65B098;
}
	
body {
    font-family: Calibri, Veranda, Sans-Serif;
    font-size: 12pt;
    text-align: right;
}

#Header {
    font-size: 60pt;
    font-style: italic;
    width: 100%;
    height: 80px;
    background-color: #65B098;
    color: #FFFFFF;
    text-align: center;
	margin-bottom: 40px ;
}

#Footer {
    clear: both;
    text-align:center;
    width: 100%;
    height: 20px;
    background-color: White;
}

#Simulator {
	background-color:  #65B098 ;
	padding-left: 0 ;
	padding-right: 0 ;
	width: 600px ;
	display: inline-block; 
}

#sketch {
	position: relative ;
	right: 150px ;
}

#WizardOptions {
	text-align: center ;
	background-size: cover ;
	display: inline-block ;
	width: 309px ;
	height: 600px ;	
	float: right;
	color: white ;
	font-weight: bold ;
    font-family: Calibri, Veranda, Sans-Serif;
	background-color:  #65B098 ;
	margin-right: 150px ;
	margin-top: 150px ;
}

#WizardOptions ul {
	list-style: none ;
}

#WizardOptions ul li select {
	background-color: white ;
	color: #429A74;
	font-weight: 700;
	font-size: 15px ;
	height: 30px; 
	border: 2px solid white ;
}

#WizardOptions ul li select option {
	background-color: white ;
	color: #429A74;
	font-size: 15px ;
}

.buttons {
	margin-bottom: 5px ;
	padding: 5px ;
}

.buttons button {
	display: inline-block ;
	color: #429A74;
	border: 2px solid white ;
	font-size: 20px ;
	font-weight: bold ;
	width: 30px ;
	height: 30px ;
	border-radius: 15px ;
	cursor: pointer ;
	background-color: white; 
}


#roundNumber, #stepNumber, #totalRounds, #totalSteps {
	display: inline-block ;
	width: 18px ;
	font-size: 20px ;
}

.blockButtons button {
	margin-top: 15px ;	
	color: #429A74 ;
	font-weight: bold ;
	width: 110px ;
	height: 30px ;
	border: 2px solid white ;
	border-radius: 1px ;
	cursor: pointer ;
	background-color: white ;
}

.clicked button:hover {
	color: white ;
	background-color: #429A74;
}

.wide button{
	width: 220px ;
}

#Warning {
	padding: 3px ;
	font-size: 16px ;
	font-style: bold ;
	color: red ;
}

#stepArrowLeft, #stepArrowRight, #roundArrowLeft, #roundArrowRight {
	visibility: hidden ;
}

#EditStep {
	display: none ;
}

#command {
	text-align: center ;
	color: white ;
	font-size: 20px ;
}

#nav {
	background-color: white ;
	list-style: none ;
	text-align: justify ;
	min-width: 500px ;
}

#nav:after {
	content: '' ;
	display: inline-block ;
	width: 100% ;
}

#nav li{
	background-color: white ;
	display: inline-block ;	
	text-align: center ;
	margin-right: auto ;
	margin-left: auto ;
	line-height: 50px; 
}

#nav a{
	background-color: white ;
	text-decoration: none ;
	color: #429A74;
	font-size: 30px ;	
}