#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
	z-index: -1 ;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 2600px;
    min-height: 1733px;
}

.round_orange_buttons
{
    background: rgb(236, 142, 75);
    border: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 4px 0;
    -webkit-border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    border-radius: 13px 13px 13px 13px;
    cursor: pointer;
}
.round_orange_buttons:hover
{
    background: rgba(107, 172, 255, 0.8);
    color: rgba(0,0,0,0.75);
    background: rgba(236, 142, 75,0.8);
    cursor: pointer;
}

.default_rectangle_color
{
    position: relative;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
}

#text
{
    position: absolute;
    left: 80px;
    width: 230px;
    top: 10px;
    height: 62px;
    background: none;
    border: none;
    font-size: 54.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1px 0;
}

#loginform
{
    
}

/*Navigation Bar*/

#navigationBar
{
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 90px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
}

#pageFooter
{
    position: absolute;
    left: 0px;
    width: 100%;
    top: 880px;
    bottom: 100%;
    height: 90px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(58, 57, 57,0.915);
    border: none;
}

.navigationButtons button
{
    position: relative;
    left: 481px;
    width: 92px;
    top: 12px;
    height: 62px;
    background: none;
    border: none;
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-UltraLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    -webkit-border-radius: 6.5px 6.5px 6.5px 6.5px;
    -moz-border-radius: 6.5px 6.5px 6.5px 6.5px;
    border-radius: 6.5px 6.5px 6.5px 6.5px;
}

.navigationButtons button:hover
{
    background-color: rgba(105, 101, 101,0.45);
    cursor: pointer;
}

.navigationButtons button:active
{
    top: 1px;
}

#homeButton
{
    left: 481px;
}

#aboutButton
{
    left: 500px;
}

#routineButton
{
    left:519px;
}

#simulatorButton
{
    left:538px;
}

#usernameButton
{
    left:576px;
}

#playerButton
{
    left:557px;
}

/*Login Button*/

#logInButton
{
    position: absolute;
    left: 1200px;
    width: 93px;
    top: 31px;
    height: 32px;
    background: rgb(255, 255, 255); /* fallback */
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(236, 142, 75);
    font-size: 14px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 142, 75);
    padding: 5px 15px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#logInButton:hover
{
    background: rgba(107, 172, 255, 0.8);
    font-size: 14px;
    color: white;
    background: rgb(86, 139, 206); /* fallback */
    background: rgb(236, 142, 75);
    cursor: pointer;
}

#informationRectangle
{
    position: absolute;
    left: 452px;
    width: 693px;
    top: 158px;
    height: 566px;
    border: none;
}

#informationRectangleHeader
{
    position: relative;
    left: 0;
    display: block;
    width: 458px;
    top: 20px;
    margin-right: auto;
    margin-left: auto;
    background: none;
    border: none;
    font-size: 35px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

#roomPicture
{
    position: relative;
    width: 300px;
    height: 200px;
    top: -20px;
    left: 190px;
}

#textRectangle
{
    position: relative;
    left: 40px;
    width: 610px;
    top: 40px;
    height: 253px;
    background: none;
    border: none;
    font-size: 15px;
    text-align: center;
    font-family: HelveticaNeue-UltraLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.50;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 461px;
    height: 331px;
    padding: 16px;
    background-color: white;
    z-index:1002;
    overflow: auto;
    -webkit-border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    border-radius: 19px 19px 19px 19px;
}

#logInRectangle
{
    display: block;
    position: absolute;
    width: 495px;
    top: 0px;
    left: 0px;
    height: 360px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    -webkit-border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    border-radius: 19px 19px 19px 19px;
}

#changePasswordRectangle
{
    display: none;
    position: absolute;
    width: 495px;
    top: 0px;
    left: 0px;
    height: 360px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    box-shadow: 0px 0px 60px 0 rgb(255, 255, 255);
    -webkit-border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    border-radius: 19px 19px 19px 19px;
}

#headerLogInRectangle
{
    display: block;
    position: absolute;
    width: 495px;
    top: 0px;
    left: 0px;
    height: 33px;
    background: rgb(216, 210, 210);
    border: none;
    font-size: 27px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 18px 0;
    -webkit-border-radius: 19px 19px 0 0;
    -moz-border-radius: 19px 19px 0 0;
    border-radius: 19px 19px 0 0;
}

#headerChangePasswordRectangle
{
    display: block;
    position: absolute;
    width: 495px;
    top: 0px;
    left: 0px;
    height: 33px;
    background: rgb(216, 210, 210);
    border: none;
    font-size: 27px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 18px 0;
    -webkit-border-radius: 19px 19px 0 0;
    -moz-border-radius: 19px 19px 0 0;
    border-radius: 19px 19px 0 0;
}

/*Username and password textboxs Bar*/

#password
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 323px;
    top: 116px;
    height: 31px;
    background: rgb(255, 255, 255);
    border: border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#username
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 323px;
    top: 120px;
    height: 31px;
    background: rgb(255, 255, 255);
    border: border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#invalidLoginMessage
{
    position: absolute;
    top: 215px;
    left: 165px;
    color: red;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

#emailAddressForPasswordChange
{
    position: absolute;
    left: 75px;
    width: 323px;
    top: 180px;
    height: 31px;
    background: rgb(255, 255, 255);
    border: border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#passwordResetInformation
{
    position:relative;
    top: 120px;
    left: 50px;
    width: 382px;
    font-size: 12px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 18px 0;
    -webkit-border-radius: 19px 19px 0 0;
    -moz-border-radius: 19px 19px 0 0;
    border-radius: 19px 19px 0 0;
}

#submitPasswordChange
{
    position: absolute;
    left: 140px;
    width: 209px;
    top: 230px;
    height: 27px;
}

#popUplogInButton
{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 323px;
    top: 130px;
    height: 27px;
}

#changePasswordButton
{
    position: relative;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 235px;
    top: 120px;
    height: 21px;
    background: none;
    border: none;
    font-size: 14.5px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 142, 75);
}

#changePasswordButton:hover
{
    color: rgba(236, 142, 75,0.5);
    cursor: pointer;
}

#signUpHeader
{
    position: relative;
    display: block;
    left: 140px;
    width: 162px;
    top:130px;
    height: 23px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}
#signupButton
{
    position: relative;
    display: block;
    left: 290px;
    width: 68px;
    top: 106px;
    height: 21px;
    background: none;
    border: none;
    font-size: 14.5px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(24, 91, 210);
}

#signupButton:hover
{
    font-size: 14.5px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(24, 91, 210,0.6);
    cursor: pointer;
}

#routineList
{
    
}

/*Profile Information*/
#personalInformationGroup input, #accountInformationGroup input
{
    border: none;
    border-bottom: solid 1px rgba(209,208,208,255) ;
}

#profileBackgroundRectangle
{
    position: relative;
    width: 742px;
    top: 206px;
    height: 426px;
    left: 363px;
    background: rgb(227, 227, 227); /* fallback */
    background: rgba(227, 227, 227, 0.905);
    -webkit-box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.78);
}

#profileBackgroundRectangle h1
{
    position: relative;
    left: 30px;
    width: 213px;
    top: 20px;
    height: 31px;
    background: none;
    border: none;
    font-size: 22px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 4px 0;
}

#accountInformationRectangle h1
{
    position: relative;
    left: 20px;
    width: 225px;
    top: 0px;
    height: 31px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#accountInformationRectangle
{
    position: relative;
    left: 60px;
    width: 317px;
    top: -22px;
    height: 265px;
    display: inline-block;
    background: rgb(255, 255, 255);
    border: none;
    margin: 0;
}

#personalInformationRectangle h1
{
    position: relative;
    left: 20px;
    width: 221px;
    top: 0px;
    height: 23px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#personalInformationRectangle
{
    position: relative;
    left: 50px;
    width: 317px;
    top: 20px;
    height: 265px;
    display: inline-block;
    background: rgb(255, 255, 255);
    border: none;
    margin: 0;
}

#submitButton
{
    position: relative;
    left: 280px;
    width: 209px;
    top: -20px;
    height: 27px;
    background: rgb(236, 142, 75);
    border: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 4px 0;
    -webkit-border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    border-radius: 13px 13px 13px 13px;
    display: none;
}

#submitButton:hover
{
    background: rgba(107, 172, 255, 0.8);
    font-size: 14px;
    color: rgba(0,0,0,0.75);
    background: rgba(236, 142, 75,0.9);
    cursor: pointer;
}


#editProfileButton
{
    position: relative;
    left: 280px;
    width: 209px;
    top: 0px;
    height: 27px;
    background: rgb(236, 142, 75);
    border: none;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    font-family: HelveticaNeue-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 4px 0;
    -webkit-border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    border-radius: 13px 13px 13px 13px;
}

#editProfileButton:hover
{
    background: rgba(107, 172, 255, 0.8);
    font-size: 14px;
    color: rgba(0,0,0,0.75);
    background: rgba(236, 142, 75,0.9);
    cursor: pointer;
}

#bezier3
{
    position: absolute;
    left: 129px;
    width: 742px;
    top: 129px;
    height: 427px;
}
#bezier2
{
    position: absolute;
    left: 129px;
    width: 24px;
    top: 129px;
    height: 21px;
}

#firstNameHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: 0px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}

#middleInitialHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -10px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}
#lastNameHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -16px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}
#birthDateHeader
{
    position: relative;
    display: none;
    left: 20px;
    width: 84px;
    top: -30px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}
#genderHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -42px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}
#phoneNumberHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -50px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 4px 0;
}

#firstNameInput
{
    position: relative;
    left: 100px;
    width: 175px;
    top: -22px;
    height: 9px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}

#middleInitialInput
{
    position: relative;
    left: 100px;
    width: 175px;
    top: -32px;
    height: 9px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#lastNameInput
{
    position: relative;
    left: 100px;
    width: 175px;
    top: -39px;
    height: 9px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#genderInput
{
    position: relative;
    left: 100px;
    width: 174px;
    top: -62px;
    height: 9px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#phoneInput
{
    position: relative;
    left: 100px;
    width: 174px;
    top: -72px;
    height: 8px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#birthDateInput
{
    position: relative;
    display: none;
    left: 100px;
    width: 174px;
    top: -54px;
    height: 11px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}

#positionHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -6px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 3px 0;
}
#usernameHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -12px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 3px 0;
}
#passwordHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -30px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 3px 0;
}
#emailHeader
{
    position: relative;
    left: 20px;
    width: 84px;
    top: -45px;
    height: 15px;
    background: none;
    border: none;
    font-size: 12px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(130, 151, 205);
    padding: 3px 0;
}

#usernameInput
{
    position: relative;
    left: 90px;
    width: 177px;
    top: -38px;
    height: 18px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#passwordInput
{
    position: relative;
    left: 90px;
    width: 177px;
    top: -54px;
    height: 16px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#emailInput
{
    position: relative;
    left: 90px;
    width: 177px;
    top: -70px;
    height: 16px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}
#positionInput
{
    position: relative;
    left: 90px;
    width: 177px;
    top: -26px;
    height: 14px;
    background: none;
    border: none;
    font-size: 13px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 6px 0;
}


/*card*/


#welcomeProfileHeader
{
    position: absolute;
    left: 79px;
    width: 224px;
    top: 128px;
    height: 24px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: 2px solid rgb(236, 142, 75);
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 14px 0;
    -webkit-border-radius: 1.75px 1.75px 1.75px 1.75px;
    -moz-border-radius: 1.75px 1.75px 1.75px 1.75px;
    border-radius: 1.75px 1.75px 1.75px 1.75px;
}

#cardProfileHeader
{
    position: absolute;
    left: 79px;
    width: 224px;
    top: 220px;
    height: 35px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
    font-size: 26.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 8px 0;
}

#cardProfileRectangle
{
    position: absolute;
    left: 79px;
    width: 224px;
    top: 279px;
    height: 283px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
}

#cardFirstNameAndLastName
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    top: 50px;
    height: 27px;
    background: none;
    border: none;
    font-size: 16.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}
#cardPosition
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    top: 50px;
    height: 17px;
    background: none;
    border: none;
    font-size: 12.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 142, 75);
}
#gamesPlayedRectangle
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    top: 60px;
    height: 47px;
    background: rgb(86, 139, 206); /* fallback */
    background: rgb(236, 142, 75);
    border: none;
}
#cardGamesPlayedHeader
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 112px;
    top: 4px;
    height: 18px;
    background: none;
    border: none;
    font-size: 11px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}
#cardGamesPlayed
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 56px;
    top: 0px;
    height: 27px;
    background: none;
    border: none;
    font-size: 25px;
    text-align: center;
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

#cardOval
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    width: 104px;
    height: 104px;
    background: rgb(255, 255, 255);
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*Create player*/


#continueButton
{
    position:absolute;
    top: 100px;
}

#signUpTitle
{
    position: relative;
    left: 100px;
    width: 261px;
    top: 18px;
    height: 21px;
    background: none;
    border: none;
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#createRectangle
{
    position: relative;
    left: 400px;
    width: 480px;
    top: 100px;
    height: 270px;
    background: rgb(227, 227, 227); /* fallback */
    background: rgba(227, 227, 227, 0.905);
    border: none;
    display: block;
}

#createRectangle2
{
    position: relative;
    left: 400px;
    width: 480px;
    top: 100px;
    height: 424px;
    background: rgb(227, 227, 227); /* fallback */
    background: rgba(227, 227, 227, 0.905);
    border: none;
    display: block;
}

#createCoachInput
{
    position: relative;
    left: 100px;
    top: 0px;
}

#createRectangle2 > input
{
    position: relative;
    left: 80px;
    top: 5px;
    width: 280px;
    height: 25px;
    background: rgba(255, 255, 255,0.0);
    border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 15px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#createRectangle2 div
{
    position: relative;
    left: 80px;
    top: 5px;
    width: 81px;
    height: 17px;
    background: none;
    border: none;
    font-size: 10.5px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(35, 44, 205, 0.677);
    padding: 4px 0;
}

#createGenderInput
{
    position: relative;
    left: 80px;
    width: 140px;
    top: 5px;
    height: 25px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 15px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#createRectangle input
{
    position: relative;
    left: 80px;
    top: 5px;
    width: 280px;
    height: 25px;
    background: rgba(255, 255, 255,0.0);
    border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 15px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#createRectangle div
{
    position: relative;
    left: 80px;
    top: 10px;
    width: 81px;
    height: 17px;
    background: none;
    border: none;
    font-size: 10.5px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(35, 44, 205, 0.677);
    padding: 4px 0;
}

#createPositionInput
{
    position: relative;
    left: 80px;
    width: 280px;
    top: 5px;
    height: 25px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 15px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#createPlayerButton
{
    position: relative;
    width: 280px;
    height: 27px;
    left: 0px;
    top: 20px;
}

#existingAccountHeader
{
    position: relative;
    left: 520px;
    width: 162px;
    top:70px;
    height: 23px;
    background: none;
    border: none;
    font-size: 13.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

#existingAccountButton
{
    position: relative;
    left: 100px;
    width: 68px;
    top: -17px;
    height: 21px;
    background: none;
    border: none;
    font-size: 14.5px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(24, 91, 210);
}

#existingAccountButton:hover
{
    font-size: 14.5px;
    text-align: left;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(24, 91, 210,0.4);
    cursor: pointer;
}

/* Routine */

#routineRectangle
{
    position: relative;
    left: 363px;
    width: 700px;
    top: 212px;
    height: 480px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
    font-size: 32px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 12px 0;
}

#routineRectangleHeader
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 129px;
    top: 5px;
    height: 27px;
    background: none;
    border: none;
    font-size: 30px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px 0;
}


#playCustomRoutineRectangle
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    top: 30px;
    height: 350px;
    display: inline-block;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
}


#playDefaultRoutineRectangle
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    top: 30px;
    height: 350px;
    display: inline-block;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
}


#playCustomRoutineRectangle h1
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    top: 0px;
    height: 27px;
    background: none;
    border: none;
    font-size: 30px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px 0;
}

#playDefaultRoutineRectangle h1
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    top: 0px;
    height: 27px;
    background: none;
    border: none;
    font-size: 30px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px 0;
}

#playRoutineButton
{
    position: relative;
    top: 50px;
    left: 0px;
    width: 209px;
    height: 27px;
}

div.scroll {
    position: relative;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    height: 230px;
    overflow: scroll;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
}

div.scroll button
{
    position: relative;
    left: 0px;
    width: 180px;
    top: 0px;
    height: 20px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border: none;
    border-bottom: solid 1px rgba(209,208,208,0.2) ;
}

div.scroll button:hover
{
    color: rgb(236, 142, 75);
}



/* Main */

#registerNowZoom
{
    position: relative;
    top: 30px;
    
}

#zoomRectangle
{
    position: relative;
    left: 71px;
    width: 282px;
    top: 120px;
    height: 366px;
    border: none;
}
#zoomOval
{
    position: relative;
    left: 20px;
    width: 236px;
    top: 20px;
    height: 242px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.341);
    border: 1px solid rgba(227, 227, 227, 0.905);
    -webkit-box-shadow: -0.5px 0.5px 30px 0 rgb(0, 0, 0) inset;
    -moz-box-shadow: -0.5px 0.5px 30px 0 rgb(0, 0, 0) inset;
    box-shadow: -0.5px 0.5px 30px 0 rgb(0, 0, 0) inset;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#registerNowButton
{
    position: relative;
    left: 35px;
    width: 207px;
    top: 45px;
    height: 30px;
    
}

#registerNowHeader
{
    position: relative;
    left: 40px;
    width: 195px;
    top: 50px;
    height: 25px;
    background: none;
    border: none;
    font-size: 18px;
    text-align: center;
    font-family: DFWaWaSC-W5, "Wawati SC", sans-serif;
    color: rgb(255, 255, 255);
}

/*Coach Routines*/


#informationRectangle1
{
    position: relative;
    left: 363px;
    width: 700px;
    top: 140px;
    height: 480px;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
    border: none;
    font-size: 15px;
    text-align: center;
    font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 12px 0;
}

#routinesBlock
{
    display: inline-block;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
	width: 40% ;
	height: 70% ;
	position: absolute ;
	left: 5% ;
	top: 20%;
}


#routinesBlock select{
	position: relative ;
	top: 20px ;
}

#buttonsBlock{
    visibility: hidden;
	position: absolute;
	top: 220px ;
	width: 100% ;
}

#buttonsBlock button{
	width: 30% ;
	margin-bottom: 3px ;
}

#routinesInfoBlock{
    display: none;
	position: absolute ;
	left: 50%;
	top: 20%  ;
	width: 48% ;
	height: 70% ;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.513);
}

#assignPopup {
    display: none;
	position: absolute ;
	top:20% ;
	width: 100% ;
	height: 70% ;
    background: rgb(0, 0, 0); /* fallback */
    background: rgba(0, 0, 0, 0.95);
}

#playerSelectPar
{
	display: inline-block ;
}

#playerSelect
{
	display: inline-block ;
}

#description
{
	display: block ;
	resize: none ;
	width: 300px ;
	height: 100px ;
}

#Simulator
{
	display: inline-block ;
	position: relative ;
	top: 100px ;
	width: 600px ;
	min-width: 600px ;
	height:600px ;
	min-height:600px ;
	margin: 0 ;
}

#Simulator canvas
{
	position: relative ;
	top: -55px ;
}

#WizardOptionsWrapper
{
	display: inline-block ;
	background: rgba(0, 0, 0, 0.513);
	width: 400px ;
	height: 600px ;
	position: absolute ;
	top: 170px;
	left: 900px ;
}

.innerOptions {
	background: rgba(0, 0, 0, 0.513);
	width: 90% ;
	height: 90% ;
	position: absolute ;
	top: 5% ;
	left: 5% ;font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.innerOptions h1 {
	text-align: center ;
	color: white ;
	padding: 0 ;
	margin: 5px ;
}

.innerOptions select{
	background: transparent ;
	color: white ;
	text-align: center ;
}

.innerOptions select option{
	color: black ;
}

.innerOptions ul
{
	display: inline-block ;
	background: transparent;
	width: 80% ;
	color: white ;
	list-style: none ;
	font-family: HelveticaNeue-Thin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center ;
}

.buttonList{
	margin-top: 5px ;
}


.myButton {
	width: 120px ;
	height: 30px ;
    background: rgb(255, 255, 255); /* fallback */
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgb(236, 142, 75);
    font-size: 14px; 
	font-weight: bold ;	
    font-family: HelveticaNeue-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(236, 142, 75);
    padding: 5px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.myButton:hover {
	background: rgb(236, 142, 75); 
	color:white ;
	cursor:pointer ;
}


.round { 
	width: 30px ;
	height: 30px ;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.wide {
	width: 244px;
}

#stepArrowLeft, #stepArrowRight, #roundArrowLeft, #roundArrowRight {
	visibility: hidden ;
}

#EditStep {
	display: none ;
}

#switchWrapper {
	margin-right: auto ;
	margin-left: auto ;
	width: 100% ;
	height:15px ;	
	text-align: center ;
	position: absolute ;
	top: 3px ;
}

#phoneBackground
{
    position: absolute;
    left: 36px;
    width: 252px;
    top: 226px;
    height: 406px;
    background: #65B098;
}

#DefaultOptions, #timedRoundInput {
	display: none ;
} 

#DefaultOptions ul{ 
	text-align: left ;
}

#DefaultOptions ul li{ 
	padding-bottom: 2px ;
}

.smallInput{
	width: 30px ;
}

.center{
	text-align: center ;
}

#GetNameDescription {
	display: none ;
	text-align: left ;
}

#GetNameDescription textarea{
	resize: none ;
	width: 300px ;
	height: 100px ;
}

#defaultDescription {
	resize: none ;
	width: 300px ;
	height: 75px ;
}

#GetNameDescription input, #GetNameDescription textarea, 
#defaultDescription, #defaultName{
	font-family: "Lucida Console", Monaco, monospace ;
	padding: 2px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* About us Page*/

.aboutUs
{
    position: relative;
    height: 326px;
    width: 483px;
}

.aboutUsParagraph
{
    position: relative;
    font-size: 14px;
    text-align: left;
    width: 420px;
    height: 350px;
    top: -40px;
    left: 24px;
    padding: 12px;
    text-align: justify;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

#aboutUsRectangle div h2
{
    position: relative;
    width: 458px;
    top: 0px;
    height: 49px;
    left: 35px;
    background: none;
    border: none;
    font-size: 25px;
    text-align: left;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}

#introductionRectangle
{
    position: relative;
    display: inline-block;
    top: 120px;
    left: 200px;
}

#challengeRectangle
{
    position: relative;
    display: inline-block;
    top: 154px;
    left: 200px;
}

#solutionRectangle
{
    position: relative;
    left: 200px;
    top: 103px;
    height:200px;
    width: 970px;
}

#solutionRectangle p
{
    position: relative;
    font-size: 14px;
    text-align: left;
    width: 880px;
    height: 150px;
    top: -40px;
    left: 24px;
    padding: 12px;
    text-align: justify;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}


/* Online Simulator */



#SimSettings
{
    position: relative;
    text-align: left ;
    background-image: url("screen.png");
    background-size: cover ;
    display: inline-block ;
    /*display: none;*/
    width: 309px ;
    top: 120px;
    height: 600px ;
    float:left;
    clear: right;
    color: black ;
    font-weight: bold ;
    font-family: Calibri, Veranda, Sans-Serif;
}

#routineType
{
    background: #CCCCCC;
    color: white ;
}

#Simulator
{
    /*background-color:  #65B098 ;*/
    position: relative;
    padding-left: 0 ;
    padding-right: 0 ;
    width: 600px ;
    display: inline-block;
    /*display: none;*/
    float: left ;
    top: 140px;
}

#tabs
{
    list-style: none ;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 150px;
}

#tabs li
{
    display: inline-block ;
    background-color: black ;
    
}

#tabs li button
{
    color: white ;
    background-color: black ;
    border: none;
}

.SettingsList
{
    margin-left: 50px ;
    margin-right: 50px ;
}

.SettingsList p
{
    background-color: #65B098;
    font-size: 24px ;
    font-style: italic ;
    color:white ;
    text-align: center ;
    margin-top: 0px ;
    margin-bottom: 0px ;
}

.SettingsList ul
{
    list-style: none ;
    padding: 5px;
    background: #CCCCCC;
    margin-top: 2px;
    font-size: 18px ;
    
    border: 1px solid #CCCCCC;
    border-radius: 5px ;
}

.SettingsList ul li
{
    background: #CCCCCC;
}

.SettingsList ul li select
{
    background: white ;
    color: black;
}

.SettingsList ul li select option
{
    background: white ;
    color: black;
}

.SettingsList ul li select option
{
    background: white ;
    color: black;
}

.SettingsList input[type="number"]
{
    background: white ;
    color: black;
}

.SettingsList ul li button
{
    margin-top: 10px ;
    margin-left: 10px ;
    background: white ;
    color: #65B098 ;
    font-weight: bold ;
    height: 40px ;
    width: 180px ;
    border-radius: 1px ;
    text-align: center;
    border: 2px solid #65B098 ;
}

#sketch
{
    position: relative ;
    left: 150px ;
}

#FeedbackList
{
    margin-left: 50px ;
    margin-right: 50px ;
    margin-top: 10px ;
    display: none ;
}

#FeedbackList p
{
    background-color: #65B098;
    font-size: 24px ;
    font-style: italic ;
    color:white ;
    text-align: center ;
    margin-top: 0px ;
    margin-bottom: 0px ;
}

#FeedbackList ul
{
    list-style: none ;
    padding: 5px;
    background: #CCCCCC;
    margin-top: 2px;
    font-size: 18px ;
}

#FeedbackList ul li
{
    background: #CCCCCC;
}

#FeedbackList ul li button
{
    margin-top: 10px ;
    margin-left: 10px ;
    background: white ;
    color: #65B098 ;
    font-weight: bold ;
    height: 40px ;
    width: 180px ;
    border-radius: 1px ;
    text-align: center;
    border: 2px solid #65B098 ;
}

#FeedbackList ul li span
{
    background: #CCCCCC  ;
}

#successesNum
{
    color: green ;
    font-style: bold ;
    font-size: 20px   ;
}

#removedWall 
{
    display: none ;
}

#minusNum
{
    color: red ;
    font-style: bold ;	
    font-size: 20px   ;
}

#wizardWalls
{
    display: none;
}

#playCustomRoutine
{
    display: none;
}

#CustomList
{
    display: none;
}

#customRoutineList
{
    width: 140px;
}

/* Manage Players */

#listOfPlayersRectangle
{
    position: relative;
    width: 550px;
    height: 500px;
    top: 161px;
    left: 400px;
}

#listOfPlayersRectangle select
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    top: 60px;
    height: 31px;
    background: rgb(255, 255, 255);
    border: border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 14px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#signPlayersRectangle
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 180px;
}

#releasePlayersRectangle
{
    position: relative;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 180px;
}

#listOfPlayersRectangle h2
{
    position: relative;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25pt;
    top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#usernamePlayersPage
{
    position: relative;
    width: 240px;
    top: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 31px;
    background: rgb(255, 255, 255);
    border: border: 1px solid rgba(0, 0, 0, 0.184);
    font-size: 18px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#submitPlayerForm
{
    position: relative;
    top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#releasePlayerFromCoachButton
{
    position: relative;
    top: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

#releasePlayersRectangle div
{
    position: relative;
    display: block;
    left: 40px;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#signPlayersRectangle div
{
    position: relative;
    display: block;
    left: 40px;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


>>>>>>> UserInterface-PlayerFixes
