*
{
    background-color: #65B098;
}
	
body
{
    font-family: Calibri, Veranda, Sans-Serif;
    font-size: 12pt;
    background-color: #CCCCCC;
    text-align: right;
}

#Header 
{

    font-size: 60pt;
    font-style: italic;
    width: 100%;
    height: 80px;
    background-color: #65B098;
    color: #FFFFFF;
    text-align: center;
	margin-bottom: 40px ;
}

#Footer
{
    clear: both;
    text-align:center;
    width: 100%;
    height: 20px;
    background-color: White;
}

#SimSettings
{
	text-align: left ;
	background-image: url("screen.png");
	background-size: cover ;
	display: inline-block ;
	width: 309px ;
	height: 600px ;	
	float:left;
	clear: right;
	color: black ;
	font-weight: bold ;
    font-family: Calibri, Veranda, Sans-Serif;
}

#routineType
{
	background: #CCCCCC;
	color: white ;
}

#Simulator 
{
	background-color:  #65B098 ;
	padding-left: 0 ;
	padding-right: 0 ;
	width: 600px ;
	display: inline-block; 
	float: left ;
}

#SettingsList
{
	margin-left: 50px ;
	margin-right: 50px ;
	margin-top: 100px ;
}

#SettingsList p
{
	background-color: #65B098;
	font-size: 24px ;
	font-style: italic ;
	color:white ;
	text-align: center ;
	margin-top: 0px ;
	margin-bottom: 0px ;
}

#SettingsList ul
{
	list-style: none ;	
	padding: 5px;
	background: #CCCCCC;
	margin-top: 2px; 
	font-size: 18px ;
	
	border: 1px solid #CCCCCC;
	border-radius: 5px ;
}
	
#SettingsList ul li
{
	background: #CCCCCC; 
}

#SettingsList ul li select
{
	background: white ;
	color: black; 
}

#SettingsList ul li select option
{
	background: white ;
	color: black; 
}

#SettingsList ul li select option
{
	background: white ;
	color: black; 
}

#SettingsList input[type="number"]
{
	background: white ;
	color: black; 
}

#SettingsList ul li button
{
	margin-top: 10px ;	
	margin-left: 10px ;	
	background: white ;
	color: #65B098 ;
	font-weight: bold ;
	height: 40px ;
	width: 180px ;
	border-radius: 1px ;
	text-align: center;
	border: 2px solid #65B098 ;
}

#sketch
{
	position: relative ;
	left: 150px ;
}

#FeedbackList
{
	margin-left: 50px ;
	margin-right: 50px ;
	margin-top: 150px ;
	display: none ;
}

#FeedbackList p
{
	background-color: #65B098;
	font-size: 24px ;
	font-style: italic ;
	color:white ;
	text-align: center ;
	margin-top: 0px ;
	margin-bottom: 0px ;
}

#FeedbackList ul
{
	list-style: none ;	
	padding: 5px;
	background: #CCCCCC;
	margin-top: 2px; 
	font-size: 18px ;
}
	
#FeedbackList ul li
{
	background: #CCCCCC; 
}

#FeedbackList ul li button
{
	margin-top: 10px ;	
	margin-left: 10px ;	
	background: white ;
	color: #65B098 ;
	font-weight: bold ;
	height: 40px ;
	width: 180px ;
	border-radius: 1px ;
	text-align: center;
	border: 2px solid #65B098 ;
}

#FeedbackList ul li span
{
	background: #CCCCCC  ;
}

#successesNum
{
	color: green ;
	font-style: bold ;	
	font-size: 20px   ;
}

#removedWall 
{
	display: none ;
}

#minusNum
{
	color: red ;
	font-style: bold ;	
	font-size: 20px   ;
}