body{
    background-image: url("../img/soccer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    display: block;
}

.imgSquare{
    height: 30px;
    widows: 30px;
}

.btn-outline {
    margin-top: 15px;
    font-size: 20px;
    color: #80AD46;
    background: 0 0;
    transition: all .3s ease-in-out;
}

#socialBanner{
    border-radius: 0 0 25px 25px;
    border: 2px solid black;
    background-color: #222222;
}

#bannerImg{
    margin-top: 50px;
    padding: 0;
    text-decoration: bold;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#socialIcons{
    float: left;
    margin-top: 12px;
}

.contBorders{
    border-radius: 25px;
    border: 2px solid #80AD46;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.3);
}

#registerLink{
    color: #80AD46;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    float:right;
}

.btn-link:hover{
    color: #23527C !important;
}

.topBannerIcon{
    color: #80AD46 !important;
    padding: 0;
    margin: 0 3px 0 5px;
    border:0;
    height: 18px;
    width: 18px;
}

.topBannerIconUser{
    color: #80AD46 !important;
    padding: 0;
    margin: 13px 3px 0 5px;
    border:0;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

div.wa{
    left: 35% !important;
}

.leContainer{
    border-radius: 25px;
    border: 2px solid #80AD46;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.8);
}

#connectIcons{
    color: black;
}

.regTab:hover,
.regTab:active,
.regTab:link {
    background-color: transparent !important;
    border: 0 !important;
}

.topTab:hover,
.topTab:active,
.topTab:link {
    background-color: transparent !important;
}

.whiteHeaders{
    color: white;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px #000;
}

.regLinks{
    color: #80AD46 !important;
    border-bottom: 0!important;
}

.borderBottom{
    border-bottom: 1px solid white !important;
}

.videoBorder{
    border-radius: 30px 30px 30px 30px;
}

.mainText {
    color: #FFFFFF;
    font-size: medium;
    font-family: Verdana;
    text-shadow: 2px 2px 2px #000000;
}

/*Styles for Coach Routines*/
#assignColumn, #playerColumn
{
    display: none;
}

#buttonsBlock
{
    visibility: hidden;
}

#playerSelectPar
{
    padding-right: 5px;
}

.centerBlock 
{
    display: table;
    margin: 0 auto;
}

/*Simulator styles*/
#sketchSimulator
{
    position: relative;
    top: -10px;
    bottom: 50px;
    left: 100px;
}

#SimSettings
{
    text-align: left ;
    background-image: url("../img/screen.png");
    background-size: cover ;
    display: inline-block ;
    /*display: none;*/
    width: 309px ;
    height: 600px ; 
    float:left;
    clear: right;
    color: black ;
    font-weight: bold ;
    font-family: Calibri, Veranda, Sans-Serif;
    margin-left: 50px;
    margin-top: 50px;
}

#routineType
{
    background: #CCCCCC;
    color: white ;
}

#tabs ul
{
    list-style-type: none;
    margin: 0;
    padding: 0
}

#tabs li
{
    display: inline-block ;
    background-color: black ;
    
}

#tabs li button
{
    color: white ;
    background-color: black ;
    border: none;
}

.SettingsList
{
    margin-left: 50px ;
    margin-right: 50px ;
}

.SettingsList p
{
    background-color: #65B098;
    font-size: 24px ;
    font-style: italic ;
    color:white ;
    text-align: center ;
    margin-top: 0px ;
    margin-bottom: 0px ;
}

.SettingsList ul
{
    list-style: none ;  
    padding: 5px;
    background: #CCCCCC;
    margin-top: 2px; 
    font-size: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px ;
}
    
.SettingsList ul li
{
    background: #CCCCCC; 
}

.SettingsList ul li select
{
    background: white ;
    color: black; 
}

.SettingsList ul li select option
{
    background: white ;
    color: black; 
}

.SettingsList ul li select option
{
    background: white ;
    color: black; 
}

.SettingsList input[type="number"]
{
    background: white ;
    color: black; 
}

.SettingsList ul li button
{
    margin-top: 10px ;  
    margin-left: 10px ; 
    background: white ;
    color: #65B098 ;
    font-weight: bold ;
    height: 40px ;
    width: 180px ;
    border-radius: 1px ;
    text-align: center;
    border: 2px solid #65B098 ;
}

#FeedbackList
{
    margin-left: 50px ;
    margin-right: 50px ;
    margin-top: 10px ;
    display: none ;
    position: relative;
    top: -300px;
}

#FeedbackList p
{
    background-color: #65B098;
    font-size: 24px ;
    font-style: italic ;
    color:white ;
    text-align: center ;
    margin-top: 0px ;
    margin-bottom: 0px ;
}

#FeedbackList ul
{
    list-style: none ;  
    padding: 5px;
    background: #CCCCCC;
    margin-top: 2px; 
    font-size: 15px ;
}
    
#FeedbackList ul li
{
    background: #CCCCCC; 
}

#FeedbackList ul li button
{
    margin-top: 10px ;  
    margin-left: 10px ; 
    background: white ;
    color: #65B098 ;
    font-weight: bold ;
    height: 40px ;
    width: 180px ;
    border-radius: 1px ;
    text-align: center;
    border: 2px solid #65B098 ;
}

#FeedbackList ul li span
{
    background: #CCCCCC  ;
}

#successesNum
{
    color: green ;
    font-style: bold ;  
    font-size: 20px   ;
}

#removedWall 
{
    display: none ;
}

#minusNum
{
    color: red ;
    font-style: bold ;  
    font-size: 20px   ;
}

#wizardWalls
{
    display: none;
}

#playCustomRoutine
{
    display: none;
}

#CustomList
{
    display: none;
    position: relative;
    top: -250px;
}

#customRoutineList
{
    width: 140px;
}

#DefaultList
{
    z-index: 2;
    position: relative;
    top: -317px;
    width: 210px;
}

#leTabs
{
    z-index: 1;
    position: relative;
    left: 55px;
    top: -306px;
    width: 200px;
}

#phoneBackground
{
    position: relative;
    left: 28px;
    width: 252px;
    top: 99px;
    height: 404px;
    background: #65B098;
    border-radius: 5px;
}

#myPlayerTab{
    margin-top: 10px;
}

select#positionDropdown:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiBy...(line truncated)...
    padding: .5em;
    padding-right: 1.5em
}

#positionDropdown {
    border-radius: 0
}

.mainText{
    color: #dee5e0;
    font-size: 1.0em;
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}