/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.footer {
  position: absolute;
  bottom: -15px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #222222;
  color: #fff;
  border: 2px solid black;
  left: 0px;
}
