<!DOCTYPE HTML>
<html>
<head>
<title>WebCode Document</title>
<link rel="stylesheet" href="style.css" />
<meta charset="UTF-8">
</head>

<body>
    <div id="navigationBar">
    </div>
    <div id="informationRectangle">
	</div>
    <div id="frame">
        <div id="homeButton">
        Home
        </div>
        <div id="aboutButton">
        About
        </div>
        <div id="contactButton">
        Contact
        </div>
        <div id="text">
        SkillCourt
        </div>
    </div>
</body>

</html>
