#navigationBar
{
    position: absolute;
    left: 0px;
    width: 1001px;
    top: 0px;
    height: 90px;
    background: rgb(10, 10, 10); /* fallback */
    background: rgba(10, 10, 10, 0.213);
    border: none;
}
#homeButton
{
    position: absolute;
    left: 481px;
    width: 92px;
    top: 0px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}
#aboutButton
{
    position: absolute;
    left: 573px;
    width: 92px;
    top: 0px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}
#contactButton
{
    position: absolute;
    left: 665px;
    width: 92px;
    top: 0px;
    height: 24px;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 20px 0;
}
#text
{
    position: absolute;
    left: 0px;
    width: 388px;
    top: 0px;
    height: 62px;
    background: none;
    border: none;
    font-size: 54.5px;
    text-align: center;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1px 0;
}
#informationRectangle
{
    position: absolute;
    left: 324px;
    width: 432px;
    top: 136px;
    height: 400px;
    background: rgb(173, 166, 166); /* fallback */
    background: rgba(173, 166, 166, 0.616);
    border: none;
    -webkit-border-radius: 40px 40px 40px 40px;
       -moz-border-radius: 40px 40px 40px 40px;
            border-radius: 40px 40px 40px 40px;
}
#frame
{
    position: absolute;
    left: -1px;
    width: 1002px;
    top: 13px;
    height: 64px;
}
